@page "/designer/{SolutionId}"
@using Volo.Abp.EventBus.Distributed
@using ModelMap.Solutions
@using ModelMap.Diagrams
@using ModelMap.Desktop.Components.SolutionTrees
@using ModelMap.Desktop.Components.Canvas
@using ModelMap.Desktop.Components.ContextMenus
@using ModelMap.Desktop.Models.ContextMenus
@using ModelMap.Desktop.Services.Solution
@inherits ModelMapDesktopComponentBase

<div>
    <SolutionSidebar @ref="_solutionSidebar" Root="SolutionTree?.RootNode" OnMouseUpCallBack="ShowContextMenuAsync"></SolutionSidebar>

    <div class="content">
        <FabricCanvas @ref="_fabricCanvas" />
    </div>
</div>

<ContextMenu @ref="_contextMenu"></ContextMenu>

<Modal @ref="_entityModal" Title="Add New Entity" Size="ModalSize.Large" ModalSaveClickCallBack="AddEntityAsync">
    <ModalBody>
        <div class="mb-3">
            <label class="form-label" for="entityName">Name</label>
            <input type="text" class="form-control" id="entityName" @bind="_entityModel.Name" />
        </div>
        <CascadingValue Value="_entityModel">
            <PropertyEditor />
        </CascadingValue>
    </ModalBody>
</Modal>

@code {

    private SolutionSidebar _solutionSidebar;

    private ContextMenu _contextMenu;

    private Modal _entityModal;

    private EntityComponentModel _entityModel;

    private FabricCanvas _fabricCanvas;

    [Parameter]
    public string SolutionId { get; set; }

    [Inject]
    protected ISolutionService SolutionService { get; set; }

    [Inject]
    protected ISolutionAppService SolutionAppService { get; set; }

    [Inject]
    protected IEntityComponentAppService EntityComponentAppService { get; set; }

    [Inject]
    protected IDistributedEventBus EventBus { get; set; }

    protected SolutionDto Solution { get; set; }

    protected SolutionTreeDto SolutionTree { get; set; }


    public Designer()
    {
        _entityModel = new EntityComponentModel();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        Solution = await SolutionAppService.GetAsync(Guid.Parse(SolutionId));
        SolutionTree = await SolutionService.GetSolutionModelAsync(Solution.AbsolutePath);
        await EventBus.PublishAsync(new SolutionChangedEvent()
        {
            SolutionPath = Solution.AbsolutePath
        });
    }

    private Task ShowContextMenuAsync(MouseEventArgs e)
    {
        if (e.Button != 2 ||
            _solutionSidebar.SelectedNodeReference.NodeModel.IsFile)
        {
            return Task.CompletedTask;
        }

        var selectedNode = _solutionSidebar.SelectedNodeReference;
        var option = new ContextMenuOptionModel(
                            "Add New Entity",
                            EventCallback.Factory.Create(this, ShowAddEntityModalAsync)
                            );
        return _contextMenu.ShowAsync(
            new()
            {
                option
            },
            e.ClientX,
            e.ClientY);
    }


    private Task ShowAddEntityModalAsync()
    {
        return _entityModal.ShowAsync();
    }

    private async Task AddEntityAsync()
    {
        var filePath = _solutionSidebar.SelectedNodeReference.NodeModel.Path;
        var selectedNamespace = await SolutionService.GetNamespaceAsync(filePath);
        var dto = ObjectMapper.Map<EntityComponentModel, CreateEntityComponentDto>(_entityModel);
        dto.NamespaceBelongingTo = selectedNamespace;
        dto.Directory = filePath;
        dto.SolutionId = Solution.Id;
        dto.Position = new PositionDto()
        {
            Top = (await _fabricCanvas.GetHeightAsync()) / 2,
            Left = (await _fabricCanvas.GetWidthAsync()) / 2
        };
        dto.ProjectRelativePath = @"\src\Acme.BookStore.Application\";
        var entity = await EntityComponentAppService.CreateAsync(dto);

        await _fabricCanvas.AddEntityAsync(ObjectMapper.Map<EntityComponentDto, EntityComponentModel>(entity));
    }

}