@page "/"
@using System.Net
@using ModelMap.Desktop.Services.File
@using ModelMap.Solutions

<div class="container mt-5">
    <div class="p-5">

        <h1>Welcome! </h1>

        <div class="mt-3">
            <button class="btn btn-primary" @onclick="OnOpenSolutionClickedAsync">
                <i class="fa fa-folder-open"></i> Open
            </button>
        </div>
    </div>
</div>

@code {
    private Lazy<Task<IJSObjectReference>> _jsTask;

    [Inject]
    private IJSRuntime JsRuntime { get; set; }

    [Inject]
    protected IFileService FileService { get; set; }

    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    [Inject]
    protected ISolutionAppService SolutionAppService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        _jsTask = new Lazy<Task<IJSObjectReference>>(() => JsRuntime.InvokeAsync<IJSObjectReference>(
            "import", "./index.js").AsTask());
    }

    private async Task OnOpenSolutionClickedAsync()
    {
        var solutionPath = await FileService.SelectFileAsync();
        await SolutionAppService.CreateAsync(new CreateSolutionDto()
        {
            AbsolutePath = solutionPath
        });
        NavigationManager.NavigateTo($"designer/{WebUtility.UrlEncode(solutionPath)}");
    }

}